*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--dark-color: darkblue;
--height: auto;
--text: center;
}
body {
  font-size: 16px;
  font-family: roboto, arial, sans-serif;
  margin: 0;
}
nav {
  background-color: var(--dark-color);
  padding: 10px;
  width: 100%;
}
nav a {
  color: white;
  display: block;
  padding: 10px;
}
h1 {
  background-color: var(--dark-color);
  padding: .5rem;
}
img {
  width: 150px;
  height: var(--height);
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
main p {
  padding: 0;
  width: 100%;
}

p{
  margin: 1rem;
}


main {
  max-width: 640px;
}
   

aside {
  width: 20em;
  height: var(--height);
  position: relative;
}
aside img {
  width: 200px;
  height: var(--height);
}

aside h2{
  position: absolute;
  top: 6px;
  left: 2px;
}

main img {
  float: right;
  width: 150px;
  height: var(--height);
  border: 1px solid var(--dark-color);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin: 0 0 1rem 1rem;
  ;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: var(--text);
}
/* class selectors */
.box {
  margin: 1rem ;
  border: 1px solid rgb(0 0 0 .1);
  padding: 2rem ;
  background-color: #ddd;
  color: #060606;
  
}
aside h2 {
  position: relative; /* any other way looked ugly*/
  top: 0px;
  left: 0px;
}

